{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container" id="content">
    {% for article in articles_page.object_list %}
        <article class="post-{{ article.status }}">
            <div class="subtitle is-6">
                <time class="published dt-published subtitle is-6" datetime="{{ article.date.isoformat() }}" itemprop="datePublished" title="{{ article.date }}">{{ article.locale_date }}</time>
            </div>
            <h1 class="title"><a href="{{ article.url  }}" rel="bookmark">{{ article.title }}</a></h1>
            <div class="content">
                {{ article.summary }}
            </div>
        </article>
    {% endfor %}
    </div>
</section>
{% endblock %}
